<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>SocialTrack</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/offcanvas.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Social<stong>Track</stong></a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Listeners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Accounts</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>

      </div>
    </nav> 
    <hr>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Listeners</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>SocialMedia</strong>
              <a href="/listeners/add/smedia" class="btn btn-primary">Add</a>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <p>Facebook, Instagram, TikTok</p>
              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>WebTack</strong>
              <a href="/listeners/add/webtrack" class="btn btn-primary">Add</a>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <p>Track websites</p>
              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Messaging Apps</strong>
              <a href="/listeners/add/messaging" class="btn btn-primary">Add</a>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <p>WhatsApp & Telegram</p>
              </li>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Your Listeners</h3>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              SocialMedia
              <span class="badge badge-warning">URL: https://example.com/socialmedia</span>

              <a href="#" class="btn btn-primary">Editieren</a>

              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-success">Aktiv</span>
                <span class="badge badge-secondary">Last Fetch: 2023-05-08 15:30:00</span>

              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Messaging Apps
              <span class="badge badge-warning">URL: https://example.com/socialmedia</span>

              <a href="#" class="btn btn-primary">Editieren</a>

              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-success">Aktiv</span>
                <span class="badge badge-secondary">Last Fetch: 2023-05-08 15:30:00</span>

              </li>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              WebTack
              <span class="badge badge-warning">URL: https://example.com/socialmedia</span>

              <a href="#" class="btn btn-primary">Editieren</a>

              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-success">Aktiv</span>
                <span class="badge badge-secondary">Last Fetch: 2023-05-08 15:30:00</span>

              </li>
            </li>
          </ul>
        </div>
      </div>
    </main>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/assets/js/vendor/popper.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/vendor/holder.min.js"></script>
    <script src="../static/offcanvas.js"></script>
  </body>
</html>
